<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1628771065518-0d82f1938462?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)">
    <div class="banner-container">
        <h1>Welcome to Triblo's National Provider Identifier Search</h1>
        <p>Enter NPI here to find more information</p>
        <form>
            <input class="form-control" type="text" placeholder="Default input">
        </form>
    </div>
</div>
<div class="text-center border-bottom">
    <h3>National Provider Info</h3>
</div>
<div class="card-container">
<table class="table">
<thead>
  <tr>
    <th scope="col">NPI</th>
    <th scope="col">Name</th>
    <th scope="col">Address</th>
    <th scope="col">Type</th>
    <th scope="col">Taxonomy</th>
  </tr>
</thead>
<tbody>
  <tr>
    <th scope="row">1234567890</th>
    <td>Thomas Pechin III</td>
    <td>1003 E Main St</td>
    <td>Foo</td>
    <td>Bar</td>
  </tr>
</tbody>
</table>
</div>
<div class="footer">
    <h4 class="margin-sm">This site was made with love and haste by Tricia Blosser</h4>
    <ul class="list-inline">
      <li>
        <a href="https://www.linkedin.com/in/tricia-blosser" target="blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/Triblo" target="blank">
          <i class="fab fa-github"></i>
        </a>
      </li>
    </ul>
  </div>




